.VatViewer-loading {
  text-align: center;
}

.VatViewer-loading-logo {
  animation: VatViewer-loading-spin infinite 10s linear;
  height: 50px;
}

.VatViewer-check-result div {
  width: 50%;
  float: left;
}

@keyframes VatViewer-loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
